tensorflow==2.13
tensorrt
numpy
opencv-python
onnx
insightface
psutil
tk
customtkinter
tkinterdnd2
tkinterdnd2-universal
pillow
onnxruntime
onnxruntime-coreml
onnxruntime-silicon
onnxruntime-gpu
opennsfw2
protobuf
tqdm
gfpgan
codeformer
torch
basicsr
filetype
gradio
tqdm
realesrgan
